body{
    margin:2% 10%;
}
hr{
    border:1px solid lightgray;
}
table{
    width:100%;
    border:1px solid black;
}
tr{
    background-color: rgb(237, 246, 237);
   
}
td{
    padding: 10px 2px;
}
th{
    background-color:black;
    color:white;
    padding:10px;
}
/****Tablet view****/
@media screen and (min-width:481px) and (max-width:900px){
    img{
        width:30%;
    }
}

/*****Mobile View****/
@media screen and (min-width:320px) and (max-width:480px){
    img{
        width:20%;
    }
}