body{
    box-sizing: border-box;
}
nav{
    background-color:rgb(9, 41, 9);
    padding:20px 0 50px 10px;
}
a{
    float:left;
    font-size:25px;
    font-weight:bold;
    color:white;
    margin-left:2%;
    text-decoration: none;
}
header{
    padding:0px 10px;
    color:rgb(78, 78, 4);
    font-family:'Courier New', Courier, monospace;
}
.row{
    display:grid;
    /* padding:20px;
    content: "";
   /* display:table;*/
   margin-top:20px;
    grid-row-gap:10px; 
    grid-column-gap:10px; 
    grid-template-columns: auto auto auto;
    /* grid-template-rows: 500px 500px 500px; */
    grid-template-rows: auto auto auto;
    
}
.column{
    /*float:left;*/
    /*  width:20%;*/
    /*margin:2% 2.5%;*/
  
    border:1px solid rgb(194, 190, 190);
    padding:0 20px 20px 20px;
}